@font-face {
	font-family: "Manrope-Variable";
	src: url("../fonts/ManropeVariable.woff2") format("woff2 supports variations"),
		url("../fonts/ManropeVariable.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url('../fonts/CormorantVariable.woff2') format("woff2 supports variations"),
		url('../fonts/CormorantVariable.woff2') format("woff2-variations");
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
}

@font-face {
	font-family: 'Bellefair';
	src: url('../fonts/Bellefair-Regular.woff2') format("woff2 supports variations"),
		url('../fonts/Bellefair-Regular.woff2') format("woff2-variations");
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
}