.wrapper {
	font-family: var(--ff-main);
	font-size: var(--fz-default);
	line-height: var(--lh-default);
	font-variation-settings: "wght" var(--fw-default);
	color: var(--text-color-secondary);
	background-color: var(--bg-main);
	overflow: hidden;
}

.wrapper:not(header) {
	display: flex;
	flex-direction: column;
	gap: clamp(120px, 20vw, 180px);
}

.main-gap {
	gap: 180px;
}

.block-video {
	height: 100vh;
}

.about__content {
	row-gap: 80px;
	column-gap: 180px;
}

.parallax-title {
	align-items: end;
	justify-content: end;
	position: relative;
}

.parallax-title .line:last-child {
	left: 150px;
	position: relative;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.fz-40 {
	width: auto;
	font-size: 40px;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: -0.4px;
	font-variation-settings: "wght" var(--fw-title);
}

@media(max-width: 767.99px) {
	.fz-40 {
		font-size: 30px;
	}
}

.gallery__body {
	max-inline-size: 1920px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.info__footer__content {
	gap: 30px;
}

.section__body {
	overflow: hidden;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	position: absolute;
	text-align: center;
	height: 200px;
	padding: 67px 0px;
	z-index: 4;
	bottom: -70px;
	right: 60px;
	border-radius: 100%;
	background-color: #1C3652;
	line-height: 83%;
	color: white;
	cursor: pointer;
}


.section__body,
.header__body,
.footer__body {
	padding: 0px clamp(20px, 7vw, 121px);
	width: 100%;
	margin: 0 auto;
	max-inline-size: 1920px;
}

header {
	font-family: var(--ff-title);
	line-height: 150%;
	font-feature-settings: 'liga' off, 'clig' off;
}



.header__burger {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 35px;
	left: 20px;
	cursor: pointer;
	user-select: none;
}

.burger-line {
	height: 1px;
	width: 30px;
	background: white;
	margin: 4px 0;
	transition: transform 0.3s ease;
}

.header__menu {
	gap: clamp(24px, 7vw, 92px);
}

.header__menu.active~.header-block .header__burger .burger-line:nth-child(1) {
	transform: translateY(3px) rotate(45deg);
}

.header__menu.active~.header-block .header__burger .burger-line:nth-child(2) {
	transform: translateY(-7px) rotate(-45deg);
}

.header__nav ul {
	gap: 48px;
}

.header__body {
	width: 100%;
	justify-content: space-between;
	column-gap: 20px;
	position: relative;
}

.parallax-container {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}

.parallax__layers {
	height: 100%;
}

.parallax-container {
	overflow: hidden;
}

.parallax-container img {
	height: 100%;
	object-position: center 15%;
}

/* .areas-img,
.dream-img {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 100%;
} */
/* 
@media only screen and (max-device-width: 1366px) {

	.areas-img,
	.dream-img {
		background-attachment: scroll;
	}
} */


.header-block {
	gap: 28px;

	justify-content: end;
}



header {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	color: var(--wh-color);
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 90px;
	transition: background 0.5s ease;
}

.padding-top {
	padding-top: 90px;
}

.header__body {
	position: relative;
	z-index: 11;
}

.phone-link,
.social-link {
	transition: color 0.3s ease;
}

.link-tg:hover .heart-tg {
	fill: var(--blue-light-color);
}

.link-tg:hover .circle-tg {
	stroke: var(--blue-light-color);
}

.link-inst:hover .heart-inst {
	fill: var(--blue-light-color);
}

.link-inst:hover .circle-inst {
	stroke: var(--blue-light-color);
}





.phone-link:hover {
	color: var(--blue-light-color);
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 9;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(28, 54, 82, 0.00);
	backdrop-filter: blur(15px);
}

.main-block {
	background: url('../images/svg/home-main.svg'), radial-gradient(95.32% 95.3% at 76.46% 100%, #001323 0%, #07315F 100%);
	background-size: 60vw, 100%;
	background-repeat: no-repeat;
	background-position: right 15%, center center;
}

.main-block-relative {
	position: relative;
	width: 100%;
	bottom: 40px;
}

.block-image {
	display: none;
	position: absolute;
	overflow: hidden;
	height: 100%;
	right: 0;
	align-self: start;
	width: 100%;
	max-width: 60vw;
	max-height: 80vh;
	bottom: 0;
	opacity: 1;
	transition: all 0.5s ease, opacity 0.5s ease, right 0.5s ease;
}

.title-width {
	max-width: 522px;
}

@media(max-width: 767px) {
	.block-image {
		max-width: 100vw;
		max-height: 100vh;
	}
}

.block-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	scale: 1;
}

.scale-image .main-img {
	position: relative;
	z-index: 1;
	transition: width 0.2s ease;

}

.swiper-statistic {
	position: relative;
}

.statistic-title {
	width: 100%;
	text-align: right;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.swiper-statistic .slider-navigation__block {
	gap: 95px;
	position: absolute;
	bottom: 0;
	right: 0;
	user-select: none;
	transform: translate(0%, 110px);
	z-index: 2;
}

.swiper-pagination {
	user-select: none;
}

.navigatin-translate {
	transform: translate(-250px, -56px);
}

.infra-width {
	align-self: start;
	max-width: 225px;
}

.showcase__items {
	gap: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.showcase__wrap {



	display: flex;
	align-items: center;
	flex-direction: column;
	width: 200%;
	margin-left: -50%;
	margin-right: -50%;
}

.showcase__items {
	position: relative;
	width: 100%;
	height: 660px;
	display: flex;
	align-items: start;
	justify-content: start;
	overflow: hidden;
}

.count-slides {
	color: #1C3652;
}

.current-slide {
	color: #1C3652;
}

.count-slides__content {
	position: absolute;
	bottom: -20px;
	width: auto;
	z-index: 4;
	height: auto;
	right: 0;
}

.showcase__item.slide-active {
	bottom: 0px;
}

.showcase__item img {
	height: 100%;
}

.showcase__item a {
	height: 100%;
	width: 100%;
}

.showcase__item {
	position: absolute;
	width: 26%;
	height: 100%;
	display: flex;
	bottom: 65px;
	align-items: center;
	justify-content: center;
	font-size: 1.8em;
	background: #333;
	color: #fff;
	will-change: transform;
	transition: bottom 0.2s ease-in-out;
	cursor: grabbing;
}

.slide-block__card {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 1020px;
	top: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.slide-block-offices {
	flex-direction: column;
}

.slide-block-offices img {
	max-height: 540px;
}

.slide-block__card.active {
	opacity: 1;
	pointer-events: auto;
}

.slide-block-parking div {
	flex-direction: column;
}

.infra-block {
	align-self: start;
	flex: 1 1 522px;
}

.swiper-pagination-current {
	color: var(--primary-main-color);
	font-weight: 500;
	font-variation-settings: "wght" var(--fw-title);
}

.section-relative {
	position: relative;
}

.position-img {
	position: relative;
	display: flex;
	overflow: hidden;
	width: 100%;
	justify-content: end;
	height: 100%;


}



.moving-img {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.footer-block-title {
	gap: 40px;
	flex: 1 1 566px;
}

.title-form div:first-child span:first-child {
	margin-bottom: 20px;
}

.footer-address__content {
	justify-content: start;
	align-items: start;
	align-self: center;
	width: 100%;
	gap: 16px;
	flex-wrap: wrap;
	flex: 0 0 35%;
}

.footer-block-title p {
	justify-content: start;
	align-items: start;
	text-align: left;
}

.footer__body {

	background-size: auto;
	background-position: 100% -20%;
	background-repeat: no-repeat;
	gap: 69px;
}

footer {
	color: var(--wh-color);
	background: url('../images/footer-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: clamp(20px, 12vw, 180px);
	padding-bottom: 40px;
}

.wh-text-color {
	color: white;
}

.fz-24 {
	font-size: var(--fz-subtitle);
}

.block-info {
	background-color: #1C3652;
	padding: 94.5px 0px;
	padding-left: 120px;
	justify-content: start;
	align-items: start;
	gap: 80px;
	flex: 0 1 1120px;
}

.footer-map {
	flex: 0 1 770px;
}

.footer-address {
	justify-content: start;
	gap: 16px;
}

.footer-address span {
	color: var(--signature-color);
}

.street {
	--fz-default: 24px;
	font-size: var(--fz-default);
}

.info .flex-style-row {

	gap: 24px;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color-secondary);
}

.block-social {
	gap: 30px;
}

.info {
	gap: 40px;
}

.odometer {
	margin-right: 7px;
}

.meter {

	margin-right: 7px;
}

.main-title {
	--fz-title: clamp(48px, 12vw, 170px);
	font-family: var(--ff-bell);
	font-size: var(--fz-title);
	color: var(--wh-color);
	width: 100%;
	text-align: left;
	position: relative;
	z-index: 2;
	letter-spacing: clamp(1px, 4vw, -13.6px);
	transition: opacity 0.1s ease, transform 1s ease;
	flex-direction: column;
}

h1::after,
h2::before,
h1::after,
h1::before {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	position: relative;
	margin-top: calc((inherit - 1em) / -2 + var(--foe, 0em));
	white-space: nowrap;
}

h2 {
	line-height: 100%;
}

.line {
	overflow: hidden;
}

.split-text .line-wrap {
	overflow: hidden;
	position: relative;
}

.whitespace {
	letter-spacing: 0;
}

.whitespace::after {
	content: " ";
	padding-right: 7px;
}

.about-arrow {
	animation: scaleArrow 1s ease-in-out infinite alternate;
	transform-origin: center;
}



@keyframes scaleArrow {
	0% {
		transform: scale(1);
		transform: translateY(0px);
	}

	100% {
		transform: scale(1.2);
		transform: translateY(8px);
	}
}

@keyframes scaleText {
	0% {
		transform: scale(1);

	}

	100% {
		transform: scale(1.1);

	}
}

.split-parent {
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.split-text .line-wrap-content {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
}




.text-start {
	align-self: start;
}

.title-features {
	letter-spacing: -6px;
}

.block-dark {
	background-color: var(--primary-main-color);
}

.section__body {
	justify-content: space-between;
}

.block-relative {
	position: relative;
	width: 100%;
	z-index: 6;
}

.location__content {
	flex: 0 0 522px;
}

.section__body-main {
	width: 100%;
	padding: 0px 121px;
	display: flex;
	justify-content: center;
	overflow: visible;
	position: relative;
	padding-right: 0;
	max-inline-size: 1920px;
	margin: 0 auto;
}

.section__body-main::-webkit-scrollbar {
	width: 0;
}

.card-name {
	color: var(--block-header-color);
	align-self: start;
	flex: 1 1 30%;
	background-color: var(--wh-color);
	overflow: hidden;
}

.content-container {
	transition: transform 1s ease-in-out;
	background-color: var(--primary-main-color);
}

.block-name {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	padding: 0px 20px;
}

.block-center {
	justify-content: center;
	align-items: center;
}

.block-name .title {
	width: 100%;
	max-width: 1044px;
	display: flex;
}

.section-complex {
	align-items: start;
	justify-content: start;
	overflow: visible;
	gap: 56px;
}

.important-span {
	color: red;
}

.phone-code {
	color: white;
	margin-right: 7px;
}

.block-text {
	gap: 204px;
	flex: 1 1 61.35%;

}

.block-description {
	max-width: 981px;
}

.block-description p {
	letter-spacing: -0.9px;
	line-height: 120%;
}

.mg-top {
	margin-top: clamp(32px, 3vw, 46px);
}

.font-about-block {
	font-variation-settings: "wght" var(--fw-title);
	line-height: var(--lh-text);
	color: var(--text-color-secondary);
	font-size: var(--fz-second-title);
}

.font-about-block-blue {
	--fz-second-title: clamp(24px, 3vw, 58px);
	color: var(--blue-color);
	font-size: var(--fz-second-title);
	font-variation-settings: "wght" var(--fw-default);
}

.swiper-statistic .font-about-block-blue {
	--fz-second-title: clamp(40px, 3vw, 58px);
	font-size: var(--fz-second-title);
}

.scroll-card img {
	width: 720px;
	height: 480px;
}


.scroll-container {
	overflow: hidden;
}

.min-height {
	min-height: 576px;
}

.scroll-card {
	gap: 40px;
	justify-content: start;
	align-items: start;
}

.swiper-statistic .swiper-slide {
	display: flex;
}

.statistic-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
}

.statistic-content {
	gap: 30px;
}

.statistic-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	justify-content: center;
}

.fz-100 {
	font-size: 100px;
	line-height: 100%;
}

figcaption {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	z-index: 4;
}

.swiper-statistic .swiper-slide {
	width: 30.19% !important;
	position: relative;
}

.swiper-statistic .swiper-slide::after {
	content: '';
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 14, 25, 0.00) 73.84%, rgba(0, 14, 25, 0.50) 100%), rgba(0, 14, 25, 0.30);
}

.swiper-statistic .swiper-wrapper .block-slide__list {
	width: 100%;
	max-width: 1180px;
}

.swiper-statistic li {}

.swiper-quality {
	width: 100%;
}

.about-button {
	display: none;
	text-align: center;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	padding: 30px 10px 10px;
	background-color: var(--primary-main-color);
	letter-spacing: 0.48px;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	transform: translate(335%, 0%) !important;
	transition: 0.2s all ease;
}

.gap-button {
	gap: 13px;
}

.block-name p {
	max-width: 578px;
	align-self: start;
}

.block-info__list {
	flex-wrap: wrap;
	column-gap: 56px;
	row-gap: 80px;
}

.block-info__list.no-wrap {
	flex-wrap: nowrap;
}

.block-info__item {
	display: flex;
	justify-content: start;
	align-items: start;
}

.block-info__item>p {
	width: 100%;
}

.block-info__item .block-slide__list {
	gap: 100px;
}

.block-info__list li {
	flex: 1 1 40%;
	display: flex;
	align-items: start;
}

.odometer-digit-inner {
	line-height: 0.8em !important;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
	line-height: 0.8em !important;
}

.decoration-underline {
	padding-top: 56px;
	border-top: 1px solid #D1D4D8;
}

.block-description {
	gap: 56px;
}

.bgap {
	row-gap: 120px;
}

.section__statistic-body {
	padding-right: 0;
	overflow: visible;
}

.statistic-wrapper {
	justify-content: start;
}

.bg-materials {
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url('../images/materials.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.swiper-materials {
	gap: 28px;
}

.swiper-materials .swiper-slide {
	width: auto;
}

.swiper-materials .swiper-notification {
	display: none;
}

.swiper-materials .swiper-pagination {
	width: auto;
}

.features-slide-navigation {
	position: relative;
	flex: 0 0 540px;
	justify-content: space-between;
}

.features-block-info__item {
	cursor: pointer;
	justify-content: start;
}

.arrow-block-relative {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}

.arrow-block-relative::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(2, 19, 36, 0.51);
}

.arrow-block-relative svg {
	position: absolute;
	top: 25%;
	left: 50%;
	width: auto;
	height: auto;
	z-index: 2;
	transform: translate(-50%, 50%);

}

.features-arrow-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.text-pos p {
	align-self: start;
}

.image-interier {
	max-width: 720px;
}

.features-slide-arrow {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: absolute;
	right: 0;
	top: -30px;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.gap-80 {
	gap: 80px;
}

.features-slide-block {
	gap: 120px;
	width: 100%;
	align-items: start;

}

.slide-block__card {
	display: flex;
	justify-content: end;
	align-items: end;
	align-self: start;
	color: var(--subtxt-color);
	font-size: 24px;
}

.gap-60 {
	gap: 60px;
}

.image-tv {
	max-width: 351px;
}

.slides-block__content {
	width: 100%;
	max-width: 1020px;
	height: 862px;
	position: relative;
}

.align-center {
	align-items: center;
	align-self: center;
}

.align-end {
	align-items: end;
	align-self: flex-end;
}

.text-interier {

	gap: 80px;
}

.text-interier p {}

.swiper-materials .swiper-button-prev svg path,
.swiper-materials .swiper-button-next svg path {
	stroke: white;
}

.swiper-statistic .swiper-pagination-current {
	font-size: 80px;
}

.swiper-materials .swiper-pagination-current {
	font-size: 80px;
	color: white;
}

.swiper-materials .slider-navigation__block {
	gap: 32px;
	justify-content: end;
}

.materials-card {
	padding: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 540px;
	flex: 1 1 330px;
	border: 1px solid var(--wh-color);
	background: rgba(255, 255, 255, 0.60);
	backdrop-filter: blur(10px);
	color: black;
	cursor: pointer;
	transition: max-height 0.8s ease;
}

.materials-card:hover .materials-subtext {
	max-height: 200px;
	overflow: hidden;
}

.materials-subtext {
	max-height: 0;
	transition: max-height 0.8s ease;
	color: var(--subtxt-color);
	overflow: hidden;

}

.materials-card__content {
	text-align: center;
	overflow: hidden;
}

.materials-text {
	text-align: center;
	letter-spacing: -1.2px;
	line-height: 120%;
	font-variation-settings: "wght" var(--fw-title);
}

.block-title {
	max-width: 522px;
	width: 100%;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.text-overflow {
	overflow: hidden;
	width: 100%;
}

.block-text-title {
	overflow: hidden;
}

.block-title-scroll {
	background-color: var(--wh-color);
	flex: 0 0 522px;
	padding-right: 80px;
}

.scroll-card {
	position: relative;
}

.scroll-card:not(:last-child)::before {
	content: '';
	position: absolute;
	width: 1px;
	right: -40px;
	height: 100%;
	background: var(--signature-color);
}

.slider-card {
	height: auto;
	align-items: center;
	justify-content: start;
}

.background-gray {
	background-color: #FAFAFA;
}

.slider-block-title {
	gap: 56px;
	padding-top: 80px;
	padding-bottom: 56px;
	max-width: 520px;
}

.filter-btn-style {}

.filter-btn-style span {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--wh-color);
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 100%;
	border: 1px solid var(--signature-color);
	transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
	color: var(--signature-color);
}

.grid-block {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"title title image1"
		"image2 . image1"
		"image2 text text";

	gap: 20px;

}

.grid-content-text {
	grid-area: text;

	gap: 24px;
}

.grid-content p {
	padding: 20px;
}

.grid-block-title {
	grid-area: title;
	justify-content: start;
	grid-column: span 2;
	gap: 80px;
}

.investment-apartment {
	grid-area: image1;
	display: flex;
	align-items: start;
	justify-content: end;
	width: 100%;
	max-height: 540px;
}

.investment-apartment img {
	max-width: 820px;
}

.investment-angle-apartment {
	grid-area: image2;
	max-width: 540px;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.flex-style-row {}

.text-block {}

.investment-lobby {
	grid-area: image3;
	max-width: 540px;
	justify-self: end;
}


.fw-medium {
	font-variation-settings: "wght" var(--fw-title);
}

.btns-gap {
	gap: 8px;
}

.section-materials__body {
	padding-right: 0;
	width: 100%;

}

.section__body-title {
	overflow: visible;
}

.section__body-title .block-title {
	height: auto;
	width: 100%;
	max-width: 892px;
	margin-bottom: 56px;
	gap: 16px;

}

.slider-card {
	flex: 0 0 50%;
}

.slider-card-img {
	flex: 0 0 50%;
}

.section__body:has(.block-info-adress),
.section__body:has(.swiper-quality) {
	padding-right: 0px;
	margin: 0;
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
}

.block-info-adress {
	gap: 56px;
}

.cards {
	gap: 56px;
	justify-content: space-between;

}

.card-text-width {
	text-align: center;
	max-width: 600px;
}

.card {
	flex: 1 1 50%;
	border: 1px solid #DBDBDB;
	position: relative;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	overflow: visible;
	height: 600px;
}


.card-text-content .font-about-block {
	gap: 24px;
	justify-content: end;
	padding-left: 50px;
}

.card-credit .card-text-content {}

.card-credit .card-text-content,
.card-cash .card-text-content {
	transition: 1s transform ease;
}

.card-cash .card-text-content {}

@media(hover:hover) {

	.card-cash .card-text-content:hover,
	.card-credit .card-text-content:hover {
		transform: translate(0%, 0%);
	}

}

.card-text-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	align-items: center;
	overflow: hidden;
}

.card-text-content .text-width {
	align-items: end;
	padding: clamp(10px, 5vw, 50px);
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	gap: 112px;
	bottom: -100%;
	color: white;
	cursor: pointer;
	z-index: 2;
	flex: 1 1 50%;
	background-color: #1C3652;
	line-height: 150%;
	transition: bottom 0.8s ease;
}

.card-text-content.open .text-width {
	bottom: 0%;
}

.gap {
	gap: clamp(24px, 5vw, 56px);
}

.title-gap {
	gap: 24px;
}

.text-width {
	width: 100%;
	justify-content: center;
}

.text-width p {
	max-width: 522px;
}

.block-map {
	position: relative;
	justify-content: center;
	align-items: center;
}

.pointer {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	transform: translate(-50px, 25px);
}

.block-info-adress .text-width {
	padding: 90px 0px;
}

.block-map img {
	width: auto;
	height: auto;
}

.form__block {
	width: 100%;
}

.block-form {
	width: 100%;
	flex: 0 1 650px;
}

.placeholder-container {
	position: relative;
}

.input-style {
	width: 100%;
	padding: 16px 24px;
	border: 1px solid var(--Gray_light, #DBDBDB);
	background: rgba(10, 17, 26, 0.21);
	backdrop-filter: blur(8px);
}

.input__name {
	width: 100%;
}

.input__number {
	width: 100%;
}

.input-placeholder {
	position: absolute;
	top: 16px;
	left: 24px;
	z-index: 2;
	width: auto;
	height: auto;
	display: block;
	color: white;
	pointer-events: none;
}

.input-event {
	cursor: text;
}

input.input-style:focus {
	border: 1px solid var(--blue-color);
}

input.input-event:focus+.input-placeholder {
	display: none;
}

input.input-event[value=""]+.input-placeholder {
	display: none;
}


.form-flex {
	gap: 24px;
	width: 100%;
}


.swiper-statistic {
	position: relative;
}

.swiper-button-prev {
	cursor: pointer;
}

.swiper-button-next {
	cursor: pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.footer-btn-style {
	border: 1px solid var(--Blue, #1F77CF);
	background: #FFF;
	display: flex;
	padding: 16px 24px;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(8px);
	color: #0D1925;
	margin-top: 24px;
	font-weight: 500;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.svg-width {
	width: 100px;
}

.custom__arrow {
	cursor: pointer;
	border: 1px solid var(--signature-color);
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide__arrow-hover {
	transition: border-color 0.3s ease, stroke 0.3s ease;
}

@media(hover:hover) {
	.slide__arrow-hover:hover {
		--hover-arrow-color: #0474DC;
		border-color: var(--blue-color);
	}
}


.scroll-card-container {
	gap: 80px;
}

.scroll-card {
	position: relative;
}


#panels #panels-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 0;

	overflow: hidden;
}

.panels-overflow {
	overflow: hidden;
}

#panels #panels-container .panel {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.change-title {
	overflow: hidden;
	height: 90px;
	position: relative;
}

.change-text {
	position: relative;
	width: 522px;
	height: 240px;
}

.title-slide {
	position: absolute;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.title-slide.hide {
	transform: translateY(100%);
}

.title-slide.show {
	transform: translateY(0);
}

.text-slide.hide {
	opacity: 0;
}

.text-slide.show {
	opacity: 1;
}

.text-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 0.5s ease-in-out;
}

.swiper-quality .swiper-wrapper {
	max-width: 960px;
}

.slider-card-body {
	justify-content: start;
}

.text-visible {
	visibility: visible;
	height: 100%;
	opacity: 1;
}

.filter__buttons {
	gap: 56px;
	justify-content: start;
	overflow-x: scroll;
}

.none {
	display: none;
}

.filter__buttons::-webkit-scrollbar {
	width: 0;
}

.apartments__affordable {
	gap: 16px;
	width: 100%;
	flex: 1 1 522px;
}

.apartment-card {
	background-color: #FAFAFA;
	width: 100%;
	flex: 1 1 1100px;
}

.apartment-card__content {
	padding: 40px;
	gap: 40px;
	flex: 1 1 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
}

.apartments__info-block {
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	row-gap: 14px;
}

.available-apartments__list {
	overflow-y: scroll;
	justify-content: start;
	gap: 16px;
	flex-wrap: wrap;
}

.available-apartments__list::-webkit-scrollbar {
	width: 0;
}

.apartment-description__content {
	gap: 40px;
	padding: 0px 36px;
}

.apartments__description {
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	flex: 0 0 222px;
	column-gap: 155px;
	row-gap: 24px;
}

.apartments__filter {
	gap: 32px;
}

.dialog__block {
	outline: none;
	overflow: hidden;
	width: 100%;
	max-width: 1100px;
	max-height: 525px;
	height: 100%;
	border: none;
}

.dialog__block {
	display: none;
}

.dialog__block[open] {
	display: flex;
	flex-direction: column;
	padding: 27px 30px;
	background-color: var(--wh-color);
	gap: 30px;
}

.dialog__block[open]::backdrop {
	background: #161D2D;
	opacity: 0.75;
}

.close__dialog {
	display: flex;
	align-self: end;
	justify-self: end;
}

.apartment__item {
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid var(--signature-color);
	transition: border-color 0.3s ease-in-out;
	cursor: pointer;
}

.flex-style-column {}

.apartment__img {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FAFAFA;
	max-width: 730px;
	border-bottom: 1px solid gray;
}

.apartment__item.active {
	border-color: #0474DC;
}

@media(hover:hover) {
	.apartment__item:hover {
		border-color: #0474DC;
	}

}

.apartment__img img {
	padding: 8px;
	height: 104px;
	object-fit: cover;
	object-position: center;
}

.apartment__meter {
	font-variation-settings: "wght" var(--fw-title);
}

.apartment__meter {
	padding: 8px 0px;
}


@media(max-width: 1720px) {

	.section__body,
	.header__body,
	.footer__body {
		padding: 0px 20px;
	}
}




@media(max-width: 1570px) {
	.section__body-main {
		flex-direction: column;
		margin-top: 109px;
	}

	.block-info {
		width: 100%;
		height: 100%;
		padding: 20px;
		gap: 24px;
	}

	.slide-block-terraces {
		flex-direction: column;
	}

	.info__footer__content {
		gap: 0;
		flex-direction: column;
	}

	.slide-block-terraces img {
		max-height: 540px;
	}

	.block-info {
		flex: 1 1 auto;
	}

	.text-interier {
		flex-direction: column;
	}

	.slide-businnes .image-bussines {
		max-height: 340px;
	}

	.infra-block {
		flex: 1 1 100%;
	}

	.swiper-statistic {
		display: flex;
		row-gap: 24px;
		flex-direction: column-reverse;
		width: 100%;
		max-width: 100%;
	}

	.infra__content {
		flex-direction: column;
		position: relative;
		margin-bottom: 190px;
	}

	.swiper-statistic .slider-navigation__block {
		position: static;
		transform: translateX(0);
		justify-content: end;
	}

	.about-button {
		left: 455px;
		transform: unset !important;
	}

	.scale-image {
		position: static;
	}

	.card-credit .card-text-content {}

	.card-cash .card-text-content {}
}

@media(max-width: 1100px) {
	.slider-materials__content {
		flex-direction: column-reverse;
	}

	.slider-materials__content .slider-card {
		width: 100%;
		justify-content: start;
	}

	.navigatin-translate {
		transform: translate(0, 0px);
		background-color: #FAFAFA;
		padding: 20px;
	}

	.swiper-quality {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.swiper-quality .slider-card-img {
		flex: 1 1 100%;
	}

	.showcase__items {
		height: 0px;
		padding-bottom: 17.93%;
	}
}

.card-credit {
	display: flex;
}

.footer-address__block {
	justify-content: start;
	align-items: start;
}

@media(max-width: 1000px) {
	.block-name {
		padding: 40px 20px;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		width: 100%;
		top: 0;
		height: 100%;
	}

	.change-text {
		height: 300px;
	}

	.title-slide.hide {
		transform: translateY(200%);
	}

	.slider-block-title {
		padding-top: 56px;
		padding-bottom: 40px;
		padding-right: 20px;
	}

	.change-text {
		width: 100%;
	}

	.change-text p {
		position: static;
	}

	.card-text-content svg {
		width: 30px;
	}

	.slider-card {
		flex: 1 1 100%;
	}

	.card-cash .card-text-content,
	.card-credit .card-text-content {}


	.cards {
		flex-direction: column;
		gap: 0;
	}

	.apartments__affordable {
		flex: 1 1 100%;

	}

	.parallax-container img {
		height: 100%;
		object-position: center;
	}

	.text-width {
		justify-content: center;
	}

	.apartments__description {
		flex: 1 1 100%;
	}

	.apartment-description__content {
		width: 100%;

	}

	.apartment-description__content div {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
}

.block-location {
	justify-content: center;
	align-items: center;
}

.gallery__content {
	row-gap: 24px;
}

@media(max-width: 1900px) {
	.block-location {
		flex-direction: column;
	}

	.footer-address__block {
		flex-direction: column;
	}
}

.main-title .whitespace {
	height: 0;
}

.apartment__img-card {
	width: 103px;
}

.infrastructure__content img {
	user-select: none;
}

.parallax-text {
	font-weight: 300;
}

@media(max-width: 767.99px) {
	.main-gap {
		gap: clamp(120px, 20vw, 180px);
	}

	.parallax-text {
		text-transform: none;
		letter-spacing: normal;

	}

	.main-title {
		text-align: center;
	}

	.scroll-card:not(:last-child)::before {
		right: -13px;
	}

	.main-block {
		background-position: center 35%, center center;
		background-size: 100vw, 100%;
	}


	.location__content {
		flex: 1 1 100%;
	}

	.scale-text {
		font-size: 12px;
		line-height: 126%;
	}

	.about-button {
		width: 100px;
		height: 100px;
		padding: 6px;
		padding-top: 10px;
	}

	.apartment-card__content {
		padding: 0px;
		padding-bottom: 0;
	}

	.scroll-to-video {
		visibility: visible;
	}

	.change-title {
		height: 70px;
	}

	.slider-navigation__block {
		left: unset;
		right: 0;
	}

	.slider-materials__content {
		padding: 0;
	}

	.title-flex-style {
		display: flex;
		flex-direction: column;
	}

	.slider-materials__content .slider-card {
		padding: 0px 20px;
	}



	#panels {
		width: 100%;
		overflow: hidden;
	}

	.infrastructure__content .section__body {
		gap: 109px;
	}

	#panels #panels-container {
		overflow: visible;
		gap: 40px;
	}

	.scroll-card-container {
		flex-wrap: nowrap;
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		justify-content: start;
	}

	.scroll-card p {
		width: 100%;
		text-align: center;
		justify-content: center;
	}

	#panels #panels-container .panel {
		overflow: visible;
	}

	.section__body-main {
		padding: 0;
	}

	.section__body-main .main-title {
		padding: 0 20px;
	}



	.available-apartments__list {
		flex-wrap: nowrap;
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
	}
}

.header-block .content-header {
	gap: 33px;
}

.gap-img,
.gap-list {
	gap: 24px;
}

.gap-text {
	gap: 56px;
}

@media(max-width: 767.99px) {
	.block-location.gap {
		gap: 0;
	}

	.header-block .content-header {
		gap: 14px;
	}

	.block-map img {
		width: 100%;
	}

	.section__body-main {
		justify-content: start;
	}

	.section__body-main.block-height {
		height: 50vh;
	}

	.block-title-scroll {
		gap: 40px;
	}

	.about-button {
		left: unset;
		right: 25%;
		top: 100%;
	}

	.form__block {
		text-align: center;
	}

	.scroll-card img {
		width: 250px;
		height: 185px;
	}


	.form-flex {
		flex-direction: column;
	}

	.card-cash .card-text-content,
	.card-credit .card-text-content {}

	.showcase__item {
		height: auto;
	}

	.header-block {
		gap: 16px;
		justify-content: space-between;
	}


	.phone-link {
		font-size: clamp(12px, 2vw, 16px);
	}

	.panels-container .block-title {
		width: 100%;
		max-width: 100%;
		flex: 1 1 auto;
	}

	.block-title-scroll {
		padding-right: 0px;
		flex: 1 1 auto;
	}

	#panels-container {
		flex-direction: column;
	}

	.block-text {
		row-gap: 80px;
	}

	.flex-wrap {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.block-title {
		height: auto;

	}

	.block-description {
		flex-wrap: wrap;
		gap: 24px;
	}

	.scroll-card-container {
		gap: 24px;
	}

	.block-info__list {
		flex-direction: column;
	}

	.block-info__list li {
		width: 100%;
	}

	.dialog__block {
		position: fixed;
		bottom: -200%;
		left: 0;
		width: 100%;
		height: 100%;
		transition: bottom 0.4s ease-in-out;
		z-index: 10;
		border: none;
		padding: 0px 20px;
		padding-bottom: 20px;
	}

	.dialog__block {
		max-height: 100%;
	}

	.dialog__block.active {
		transition: bottom 0.4s ease-in-out;
		bottom: 0;
		transform: translateY(5%);
	}

}

@media(max-width:600px) {
	.form-flex>* {
		max-width: 100%;
	}
}

@media(max-width:540px) {
	.info__footer__content {
		flex-direction: column;
	}
}

@media(max-width: 520px) {
	.infra__content {
		flex-direction: column;
		position: relative;
		margin-bottom: 224px;
	}

	#gallery .section__body {
		flex-wrap: wrap;
	}

	.info-footer__content {
		flex-direction: column;
	}

	#gallery .section__body .gap-button {
		justify-content: end;
		width: 100%;
	}




	.card-cash .card-text-content,
	.card-credit .card-text-content {}

	.block-text {
		flex: 0 0 auto;
	}
}

.swiper-statistic .swiper-wrapper {
	align-items: center;
	gap: 16px;
	width: 100%;
}

.header__nav ul li {
	transition: all 0.3s ease-in-out;
}

@media(min-width: 1520px) {

	.header__nav ul li:has(a.active-link) {
		color: var(--blue-light-color);
		transition: all 0.5s ease-in-out;
		transform: translateY(-9px);
	}
}

/*------------------------------------------------------------------RELEAZED HEADER BLOCK ADAPTIVE------------------------------------------------------------------- */
@media (max-width: 1520px) {
	.header__burger {
		display: flex;
		position: static;
		order: 1;
	}

	.header__nav ul li a {
		white-space: nowrap;
	}

	.header__body .header__logo {
		display: block;
		order: -1;
	}

	.header__body {
		justify-content: space-between;
	}

	.header__menu .header__logo {
		display: none;
	}

	header::before {
		background-color: var(--primary-main-color);
	}

	.header__menu {
		position: fixed;
		top: 90px;
		width: 21.6%;
		height: 100%;
		right: -50%;
		z-index: 10;
		background-color: var(--primary-main-color);
		flex-direction: column;
		display: flex;
		align-items: start;
		justify-content: start;
		gap: 56px;
		padding: 54px clamp(20px, 2vw, 54px) 0px;
		overflow: hidden;
		transition: height 0.5s ease, width 0.5s ease, right 0.5s ease;
	}

	.header__body .header__nav {
		flex-direction: row;
		order: 0;
	}

	.header__menu .header__nav ul {
		flex-direction: column;
		gap: 16px;
	}



	.header__nav ul li {
		text-transform: uppercase;
		width: 100%;
		text-align: left;
	}

	.header__menu.active {
		right: 0;
		transition: height 0.3s ease, width 0.5s ease, right 0.5s ease;
		padding-bottom: 20px;
	}

	.header__menu.active .header-block div {
		flex-direction: column-reverse;
		width: 100%;
	}

	.header__menu.active .header-block a {
		width: 100%;
		text-align: center;
		justify-content: center;
	}

}

@media (max-width: 767.99px) {
	.header-block {
		width: 100%;
	}

	.header__burger {
		order: -1;
	}

	.header__body {
		flex-direction: column-reverse;
		justify-content: center;
		position: relative;
	}

	.header__menu .header__nav {
		margin-top: 32px;
	}

	.header__menu .header__logo {
		margin-top: 56px;
		display: block;
	}

	.header__logo {
		width: 155px;
	}

	.header__menu {
		position: fixed;
		top: 90px;
		width: 100%;
		height: 0%;
		right: 0;
		padding: 0px 20px;
		padding-top: 0;
	}

	.header__nav ul {
		flex-direction: column;
		gap: 16px;
	}

	.header__nav ul li {
		text-transform: uppercase;
		width: 100%;
		text-align: left;
	}

	.header__menu.active {
		height: 100%;
		transition: height 0.3s ease;
		padding-bottom: 20px;
	}

	.header__menu.active .header-block {
		flex-direction: column-reverse;
	}

	.header__menu.active .header-block a {
		width: 100%;
		text-align: center;
		justify-content: center;
	}

}

.clone-container {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 90vh;
	background: white;
	transition: bottom 0.4s ease-in-out;
	overflow: hidden;
	z-index: 7;
	padding: 40px;
	align-items: end;
	gap: 56px;
}

.clone-container p {
	text-transform: capitalize;
}

.clone-container-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);

	z-index: 5;

	transition: opacity 0.4s ease-in-out;
	opacity: 0;

	pointer-events: none;

}

.clone-container-overlay.active {
	opacity: 1;

	pointer-events: auto;

}




.clone-container svg {
	width: 22px;
	height: 22px;
	margin-left: 7px;
	transition: transform 0.4s ease-in-out;
}



.clone-container.active {
	bottom: 0;
}

.clone-container.active svg {
	transform: rotate(-175deg);
}

.footer-address p {
	font-variation-settings: "wght" var(--fw-text);
}