
:root {
	--ff-title: "Manrope", sans-serif;
	--ff-bell: "Bellefair", sans-serif;
	--ff-main: "Cormorant Garamond", sans-serif;
	--primary-main-color: #1C3652;
	--text-color-secondary: #0D1925;
	--bl-color: #000000;
	--signature-color: #D1D4D8;
	--wh-color: #FFFFFF;
	--block-header-color: var(--wh-color);
	--blue-light-color: #42B0F9;
	--bg-main: #ffffff;
	--title-span-color: #42B0F9;
	--fz-title: clamp(48px, 4vw, 80px);
	--fz-subtitle: clamp(16px, 3vw, 24px);
	--fz-default: 16px;
	--fz-second-title: clamp(24px, 5vw, 38px);
	--lh-default: 150%;
	--lh-text: 120%;
	--lh-title: 120%;
	--fw-default: 400;
	--fw-title: 500;
	--fw-medium: 700;
	--btn-border: 1px solid var(--blue-color);
	--hover-arrow-color: var(--primary-main-color);
	--tr-btn: 0.3s color ease, 0.3s border ease, 0.3s background-color ease;
	--foe: -0.19em;
}